@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<DotNetProject.Models.SubscriptionModel>

<div class="main" id="main">
    @if (User.Identity.IsAuthenticated)
    {
        @foreach (var api in Model)
        {
            <div class="apiElement">
                <a>@api.ApiId</a>
            </div>
        }
    }
    <div class="apiElement" id="addNew">
        <a asp-controller="API" asp-action="SelectAPI"><i class="center-icon-plus fas fa-plus"></i></a>
    </div>
</div>

<script type="text/javascript">
    var addApi = function () {
        var ok = true;
        if (ok === true) {
            var div = document.createElement('div');

            div.className = 'apiElement';
            document.getElementById("main").insertBefore(div, document.getElementById('addNew'));
        }
    }

    document.getElementById("addNew").addEventListener('click', addApi);
</script>