@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
    <div class="apiElement">
        <i class="center-icon-plus fas fa-plus"></i>
    </div>
    <div class="apiElement">

    </div>
    <div class="apiElement">

    </div>
</div>