html {
  height: 100%;
}
html body {
  padding-top: 50px;
  padding-bottom: 20px;
  min-height: 100%;
}
html body span {
  color: dimgray;
  font-size: 50px;
  position: relative;
  top: 4px;
}
html body span::before {
  font-size: 30px;
}
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
.main {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main .apiElement {
  border: 1px solid #000000;
  width: 30%;
  height: 30%;
}
